.header {
	padding: 3rem 0;
	
	display: grid;
	grid-template-columns: 1fr 20rem 1fr auto;
	align-items: center;
	
	border-bottom: 1px solid #3a3a3a;
}

.logo {
	justify-self: center;
	grid-column: 2/3;
}

.nav {
	margin-right: 2.5rem;
	
	display: flex;
	justify-self: end;
	align-items: center;
	column-gap: 3rem;
}

.navLink {
	font-size: 2rem;
	
	cursor: pointer;
}
.navLink:hover {
	text-decoration: underline;
}

.heading {
	font-size: 5rem;
}