.header {
	padding: 3rem 0;
	
	display: grid;
	grid-template-columns: 1fr 20rem 1fr;
	align-items: center;
	
	border-bottom: 1px solid #3a3a3a;
}

.logo {
	justify-self: center;
	grid-column: 2/3;
}

.nav {
	display: flex;
	justify-self: end;
	align-items: center;
	column-gap: 3rem;
}

.navLink {
	font-size: 2rem;
}
.navLink:hover {
	text-decoration: underline;
}

.icon {
	flex: 0 0 4rem;
	
	width: 4rem;
	height: 4rem;
}

.heading {
	font-size: 5rem;
}