.item {
	padding-bottom: 2.5rem;
	
	display: flex;
	flex-direction: column;
	row-gap: 2.6rem;
	
	user-select: none;
	cursor: pointer;
}
.item:hover .message {
	grid-template-rows: 1fr;
}
.item:hover .image {
	transform: scale(1.02);
}

.imageWrap {
	height: 32.6rem;
	overflow: hidden;
}
.image {
	height: 100%;
	
	object-fit: cover;
	
	transition: transform 0.5s ease;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
	
	text-align: center;
}

.message {
	display: grid;
	grid-template-rows: 0fr;
	
	transition: grid-template-rows 0.3s ease;
}
.messageContent {
	overflow: hidden;
}

.link {
	font-size: 1.5rem;
	
	text-transform: uppercase;
	text-decoration: underline;
}

@media (max-width: 48em) {
	.imageWrap {
		height: 40.6rem;
	}
	.link {
		    font-size: 2.5rem;
	}
}