.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
}

.form .StripeElement {
	margin-bottom: auto;
	
	width: 66rem;
}

@media (max-width: 48em) {
	.form {
		height: auto;
	}
	.form > div {
		margin-bottom: 6rem;
		
		width: 100%;
	}
}