.section {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.fields {
	margin-bottom: 3rem;
	
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	
	width: 30rem;
}

.footer {
	display: flex;
	column-gap: 2rem;
}